@charset "utf-8";
/* リセット */
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding: 0;
}
footer {
    background: #e1e1e1;
}
main,
section,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #0f0f0f;
    font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "sans-serif",
        "A1 Mincho", "游明朝", "Yu Mincho", "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", "serif";
    font-feature-settings: "palt";
}
a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
.header_container_wrap img {
    position: relative;
}
.header_nav {
    position: fixed;
    top: 62px;
    left: 0;
    text-align: center;
}
.header_nav h2 {
    display: none;
}
.header_nav img {
    padding-bottom: 139px;
    width: 35%;
}
.menu li {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 33px;
    color: #0f0f0f;
}
/* メイン_main */
.main p {
    font-size: 1.6rem;
}
.container {
    margin: 0 auto;
    text-align: center;
}
.container h2 {
    font-size: 3.5rem;
    margin-top: 144px;
}
.container h3 {
    padding-top: 10px;
    font-size: 1.6rem;
    font-weight: lighter;
}
.container p {
    padding-top: 162px;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    display: inline-block;
    text-align: left;
}
.sp_nav {
    display: none;
}
/* スローガン */
.slogan {
    text-align: center;
    padding-top: 191px;
    max-width: 1000px;
    margin: 0 auto;
}
.slogan h1 {
    font-size: 45px;
}
.slogan br {
    display: none;
}
.slogan h2 {
    font-size: 1.8rem;
    padding-top: 15px;
    font-weight: lighter;
}
.slogan p {
    width: 90%;
    padding-top: 141px;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    display: inline-block;
    text-align: justify;
}
.logo_detail {
    margin: 0 auto;
    text-align: center;
}
.logo_detail img {
    width: 350px;
    padding-top: 248px;
    padding-left: 9%;
}
.logo_detail h2 {
    padding-top: 176px;
    font-size: 35px;
}
.concept {
    padding-top: 57px;
}
.concept li {
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.15rem;
}
.logo_detail p {
    padding-top: 141px;
    padding-bottom: 121px;
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
}
/* footer */
.footer_container {
    width: 100%;
    position: relative;
}
.side_menu {
    position: absolute;
    top: 90px;
    left: 0;
}
.footer_logo img {
    width: 30%;
    padding-left: 13%;
}
.sns {
    padding-left: 6.5%;
    padding-top: 96px;
}
.follow_me {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.follow_me li {
    padding-left: 10%;
}
.footer_nav {
    margin-left: 5%;
}
.gr_menu {
    width: 30%;
    margin: 0 auto;
    padding: 65px 10px 90px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: lighter;
}
.gr_menu li {
    font-weight: bold;
}
.footer_nav {
    margin: 0 auto;
}
.footer_nav h2 {
    font-size: 4.5rem;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 14px;
}
.footer_nav h3 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.2rem;
}
.sns_sp {
    display: none;
}
.footer_nav p {
    padding-top: 90px;
    padding-bottom: 10px;
    text-align: center;
}
/* レスポンシブ_767px */
@media screen and (max-width: 767px) {
    /* トップページ */
    .header_nav h2 {
        position: fixed;
        display: flex;
        top: 4%;
        left: 5%;
        letter-spacing: 0.15rem;
        z-index: 1;
    }
    .header_nav img {
        display: none;
    }
    .menu {
        display: none;
    }
    /* spのメニュー */
    .sp_menu_btn {
        display: block;
        position: fixed;
        top: 35px;
        right: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_menu_btn span {
        background: #0f0f0f;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 17px;
        transition: 0.3s;
    }
    .sp_menu_btn span::before,
    .sp_menu_btn span::after {
        content: "";
        width: 33px;
        height: 3px;
        display: block;
        background: #0f0f0f;
        position: absolute;
        transition: 0.3s;
    }
    .sp_menu_btn span::before {
        bottom: 10px;
    }
    .sp_menu_btn span::after {
        top: 10px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        transform: rotate(225deg);
        bottom: 0px;
    }
    .open span::after {
        transform: rotate(315deg);
        top: 0px;
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: rgba(000, 000, 000, 0.8);
        width: 100%;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .sp_nav li {
        color: #fff;
        text-align: center;
        font-size: 2.4rem;
        padding: 20px 0;
    }
    .container br {
        display: none;
    }
    .container p {
        width: 70%;
        text-align: justify;
    }
    .slogan br {
        display: none;
    }
    .slogan p {
        width: 70%;
    }
    /* footer_フッター */
    .footer_container {
        margin-top: 300px;
        position: relative;
    }
    .side_menu {
        display: none;
    }
    .footer_nav {
        width: 100%;
        text-align: center;
    }
    .footer_nav h2 {
        font-size: 4.5rem;
        font-weight: lighter;
        padding-bottom: 10px;
    }
    .footer_nav h3 {
        text-align: center;
        font-weight: lighter;
        letter-spacing: 0.2rem;
    }
    .sns_sp {
        display: block;
        text-align: center;
    }
    .follow_me_sp {
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }
    .follow_me_sp img {
        width: 40%;
    }
    .gr_menu {
        display: none;
    }
    .footer_nav h2 {
        padding-top: 150px;
        font-size: 2.5rem;
    }
    .footer_nav p {
        padding-bottom: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    .header_container_wrap img {
        display: none;
    }
    .header_nav h2 {
        top: 6%;
    }
    .main {
        margin-top: 600px;
    }
    .container h2 {
        font-size: 3rem;
    }
    .container h3 {
        font-size: 1.4rem;
        padding-top: 3px;
    }
    .container p {
        line-height: 1.7;
        padding-top: 70px;
    }
    .slogan h1 {
        font-size: 3.5rem;
        line-height: 1.2;
    }
    .slogan br {
        display: flex;
    }
    .slogan h2 {
        font-size: 1.4rem;
    }
    .slogan p br {
        display: none;
    }
    .slogan p {
        text-align: justify;
    }
    .logo_detail img {
        width: 60%;
    }
    .logo_detail h2 {
        font-size: 3.5rem;
        padding-top: 120px;
    }
    .logo_detail p {
        padding-top: 50px;
    }
    .concept li {
        font-size: 1.6rem;
        letter-spacing: 0;
    }
    .logo_detail p {
        font-size: 1.6rem;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .footer_nav h2 {
        font-size: 1.5rem;
        font-weight: lighter;
        padding-bottom: 5px;
        padding-top: 430px;
    }
}
