@charset "utf-8";
/* リセット */
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding: 0;
}
footer {
    background: #e1e1e1;
}
main,
section,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #0f0f0f;
    font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "sans-serif",
        "A1 Mincho", "游明朝", "Yu Mincho", "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", "serif";
    font-feature-settings: "palt";
}
a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* トップページ */
.header_container_wrap {
    position: relative;
}
.header_container_wrap br {
    display: none;
}
.header_container_wrap h1 {
    position: absolute;
    top: 35%;
    right: 10%;
    font-size: 4.5rem;
    font-weight: lighter;
    line-height: 1.2;
    color: #fff;
}
.header_container_wrap h2 {
    display: none;
}
.header_container_wrap img {
    width: 100vw;
}
.header_nav {
    position: fixed;
    top: 90px;
    left: 3%;
    text-align: center;
}
.header_nav h2 {
    display: none;
}
.header_nav img {
    padding-bottom: 139px;
    width: 55%;
}
.menu li {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 40px;
    color: #b4b4b4;
}
.sp_nav {
    display: none;
}
/*自分について */
.main {
    max-width: 1920px;
    margin: 0 auto;
}
.ABOUT h2 {
    margin-top: 300px;
    padding-bottom: 55px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bolder;
}
.ABOUT p {
    line-height: 1.5;
    font-size: 2rem;
    text-align: center;
}
.button01 {
    width: 140px;
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 8px 0 8px;
    color: #fff;
    background: #67a39b;
    border-radius: 5px;
    margin-top: 90px;
    margin-bottom: 120px;
}
.page_number {
    font-weight: bolder;
    font-size: 3rem;
}
/* サービスについて */
.contents_service {
    margin: 0 auto;
    text-align: center;
    background: #e1e1e1;
}
.contents_service h2 {
    padding-top: 50px;
    padding-bottom: 65px;
    font-size: 3.5rem;
}
.contents_service h3 {
    padding-bottom: 35px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 1.2;
    letter-spacing: 0.12rem;
}
.service_menu {
    padding-top: 35px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}
.service_menu p {
    margin: 0 auto;
    padding-bottom: 35px;
    font-size: 2rem;
}
.service_menu h4 {
    font-size: 2.4rem;
    color: #0f0f0f;
}
.wrap {
    background-color: #fff;
    border-radius: 0 30px 0 0;
}
.wrap img {
    padding: 80px 4%;
    width: 50%;
}
.wrap h3 {
    font-size: 2.5rem;
    color: #0f0f0f;
}
.triangle {
    margin-top: 2rem;
    margin-bottom: -35px;
    align-items: flex-end;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 0 0 40px;
    border-color: transparent transparent transparent #67a39b;
}
.arrow_up {
    position: relative;
    top: 40px;
    background-color: #67a39b;
}
.arrow_up::before {
    content: "";
    margin: auto 0;
    position: absolute;
    top: 40%;
    bottom: 0;
    width: 13px;
    height: 13px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(-45deg);
}
/* .button02 {
    width: 140px;
    font-size: 18px;
    margin: 0 auto;
    padding: 8px 0 8px;
    color: #fff;
    background: #67a39b;
    border-radius: 5px;
} */
/* 実績 */
.contents_work {
    width: 72%;
    margin: 0 auto;
    text-align: center;
}
.contents_work h2 {
    font-size: 3.5rem;
    padding-top: 160px;
    padding-bottom: 5px;
}
.contents_work p {
    font-size: 1.8rem;
    font-weight: normal;
}
.derection_desing {
    position: relative;
    margin-top: 50px;
    padding-bottom: 20px;
}
.label {
    position: absolute;
    text-align: right;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 6%;
    width: 11%;
    height: 47%;
}
.label h3 {
    transform: rotate(90deg) translateX(-100%);
    text-align: left;
    position: absolute;
    top: 60%;
    right: -35px;
    font-size: 2.5rem;
    line-height: 1.2;
}
.label h4 {
    font-weight: lighter;
    margin-top: 195%;
    margin-bottom: 10%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.button03 {
    width: 70%;
    font-size: 1.5rem;
    text-align: center;
    padding: 4% 0 4%;
    color: #fff;
    background: #67a39b;
    border-radius: 5px;
    margin: 0 auto;
}
.design {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
}
.label2 {
    position: absolute;
    text-align: right;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 5%;
    width: 11%;
    height: 50%;
}
.label2 h3 {
    transform: rotate(90deg) translateX(-100%);
    text-align: left;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 2.5rem;
    line-height: 1.2;
}
.label2 h4 {
    font-weight: lighter;
    margin-top: 195%;
    margin-bottom: 10%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.architectural {
    position: relative;
    margin-top: 20px;
    margin-bottom: 350px;
}
.label3 {
    position: absolute;
    text-align: right;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 5%;
    width: 11%;
    height: 50%;
}
.label3 h3 {
    transform: rotate(90deg) translateX(-100%);
    text-align: left;
    position: absolute;
    top: 85%;
    left: 10%;
    font-size: 2.5rem;
    line-height: 1.2;
}
.label3 h4 {
    font-weight: lighter;
    margin-top: 195%;
    margin-bottom: 10%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
/* お問い合わせ */
.container_contact {
    margin: 0 auto;
    width: 50%;
    background-size: cover;
    position: relative;
    background-color: #e1e1e1;
    border-radius: 20px;
    margin-bottom: 300px;
}
.container_contact h2 {
    font-size: 4rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2rem;
}
.container_contact h3 {
    border-radius: 5px;
    text-align: center;
    font-size: 1.8rem;
    padding: 12px 12px;
    width: 30%;
    position: absolute;
    top: 30%;
    left: 33%;
    background-color: #67a39b;
    color: #fff;
}
.container_contact p {
    line-height: 1.8;
    letter-spacing: 0.2rem;
    padding-top: 248px;
    padding-bottom: 120px;
    font-size: 18px;
    text-align: center;
}
/* footer */
.footer_container {
    width: 100%;
    position: relative;
}
.side_menu {
    position: absolute;
    top: 90px;
    left: 3%;
}
.footer_logo img {
    width: 30%;
    padding-left: 13%;
}
.sns {
    padding-left: 5%;
    padding-top: 96px;
}
.follow_me {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.follow_me li {
    padding-left: 10%;
}
.footer_nav {
    margin-left: 5%;
}
.gr_menu {
    width: 30%;
    margin: 0 auto;
    padding: 65px 10px 90px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: lighter;
}
.gr_menu li {
    font-weight: bold;
}
.footer_nav {
    margin: 0 auto;
}
.footer_nav h2 {
    font-size: 4.5rem;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 14px;
}
.footer_nav h3 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.2rem;
}
.sns_sp {
    display: none;
}
.footer_nav p {
    padding-top: 90px;
    padding-bottom: 10px;
    text-align: center;
}
/* レスポンシブ_1024 */
@media screen and (max-width: 1024px) {
    .header_container_wrap h1 {
        top: 300px;
        right: 5%;
        font-size: 2.6rem;
    }
    .header_nav {
        left: 1%;
        z-index: 1;
    }
    .header_nav img {
        width: 40%;
    }
    .menu li {
        font-size: 1.4rem;
    }
    .ABOUT h2 {
        margin-top: 200px;
    }
    .ABOUT p br {
        display: none;
    }
    .ABOUT p {
        width: 70%;
        margin: 0 auto;
        text-align: left;
    }
    .contents_service {
        width: 80%;
        margin: 0 auto;
    }
    .contents_service h3 br {
        display: none;
    }
    .contents_service h3 {
        width: 70%;
        margin: 0 auto;
        text-align: justify;
    }
    .service_menu {
        width: 80%;
        justify-content: space-between;
    }
    .wrap {
        margin-left: 2%;
    }
    .wrap img {
        padding: 50px;
    }
    .wrap h4 {
        font-size: 1.8rem;
    }
    .label h3 {
        top: 80%;
        left: 0;
        font-size: 1.6rem;
    }
    .label h4 {
        font-size: 1rem;
    }
    .button03 {
        font-size: 1rem;
        padding: 4% 0 5%;
        border-radius: 2px;
    }
    .label2 h3 {
        top: 35%;
        right: 0;
        font-size: 1.6rem;
    }
    .label2 h4 {
        font-size: 1rem;
    }
    .label3 h3 {
        top: 85%;
        right: -45px;
        font-size: 1.6rem;
        line-height: 1.1;
    }
    .label3 h4 {
        font-size: 1rem;
    }
    .container_contact {
        width: 70%;
    }
    .container_contact h3 {
        font-size: 1.6rem;
        letter-spacing: 0.15rem;
    }
}
@media screen and (max-width: 768px) {
    /* ヘッダー */
    .header_container_wrap h1 {
        top: 200px;
        right: 3%;
        font-size: 2rem;
        font-weight: lighter;
        line-height: 1.2;
        color: #fff;
    }
    .header_nav h2 {
        position: fixed;
        display: flex;
        top: 3%;
        left: 5%;
        letter-spacing: 0.15rem;
        z-index: 1;
        color: #b4b4b4;
    }
    .header_nav img {
        display: none;
    }
    .menu {
        display: none;
    }
    .wrap {
        width: 80%;
        margin: 0 auto;
    }
    /* spのメニュー */
    .sp_menu_btn {
        display: block;
        position: fixed;
        top: 20px;
        right: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_menu_btn span {
        background: #b4b4b4;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 17px;
        transition: 0.3s;
    }
    .sp_menu_btn span::before,
    .sp_menu_btn span::after {
        content: "";
        width: 33px;
        height: 3px;
        display: block;
        background: #b4b4b4;
        position: absolute;
        transition: 0.3s;
    }
    .sp_menu_btn span::before {
        bottom: 10px;
    }
    .sp_menu_btn span::after {
        top: 10px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        transform: rotate(225deg);
        bottom: 0px;
    }
    .open span::after {
        transform: rotate(315deg);
        top: 0px;
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: rgba(000, 000, 000, 0.8);
        width: 100%;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .sp_nav li {
        color: #fff;
        text-align: center;
        font-size: 2.4rem;
        padding: 20px 0;
    }
    /* service */
    .contents_service {
        height: auto;
    }
    .contents_service h2 {
        font-size: 2.5rem;
    }
    .contents_service h3 {
        font-size: 1.5rem;
    }
    .service_menu {
        display: block;
        width: 50%;
    }
    .service_menu h4 {
        font-size: 2.4rem;
        color: #0f0f0f;
    }
    .wrap {
        margin-bottom: 80px;
    }
    .wrap img {
        padding: 80px 4%;
        width: 50%;
    }
    .wrap h3 {
        font-size: 2.5rem;
        color: #0f0f0f;
    }
    /* 制作実績 */
    .label {
        top: 0;
        right: 6%;
        width: 14%;
        height: 60%;
    }
    .label h3 {
        top: 85%;
        left: 0;
        font-size: 1.4rem;
    }
    .label h4 {
        font-weight: normal;
    }
    .button03 {
        font-size: 1rem;
        padding: 7% 7%;
        border-radius: 2px;
    }
    .label2 {
        top: 0;
        right: 6%;
        width: 14%;
        height: 65%;
    }
    .label2 h3 {
        top: 35%;
        right: 0;
        font-size: 1.4rem;
    }
    .label2 h4 {
        font-weight: normal;
    }
    .label3 {
        top: 0;
        right: 6%;
        width: 14%;
        height: 65%;
    }
    .label3 h3 {
        top: 90%;
        left: 0;
        font-size: 1.4rem;
    }
    .label3 h4 {
        font-size: 1rem;
    }
    /* contact */
    .container_contact h2 {
        font-size: 3.5rem;
    }
    .container_contact h3 {
        font-size: 1.6rem;
        padding: 12px 12px;
        width: 50%;
        left: 24%;
    }
    .container_contact p {
        font-size: 1.4rem;
        text-align: center;
    }
    /* footer */
    .side_menu {
        display: none;
    }
    .sns_sp {
        display: block;
        text-align: center;
    }
    .follow_me_sp {
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }
    .follow_me_sp img {
        width: 40%;
    }
    .gr_menu {
        display: none;
    }
    .footer_nav h2 {
        padding-top: 150px;
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 375px) {
    .header_container_wrap br {
        display: block;
    }
    .header_container_wrap h1 {
        display: none;
    }
    .header_nav h2 {
        top: 4%;
        left: 5%;
    }
    /* ABOUについて */
    .ABOUT h2 {
        font-size: 3rem;
        margin-top: 90px;
    }
    .ABOUT p {
        font-size: 1.6rem;
        text-align: justify;
    }
    /* serviceについて */
    .service_menu {
        width: 80%;
    }
    .wrap {
        margin-bottom: 50px;
    }
    .wrap img {
        padding: 40px 4%;
    }
    .wrap h4 {
        font-size: 1.8rem;
        color: #0f0f0f;
    }
    .label {
        right: 0%;
        width: 25%;
        height: 88%;
    }
    .label h3 {
        top: 105%;
        left: -10px;
        font-size: 1.4rem;
    }
    .label h4 {
        display: none;
    }
    .button03 {
        font-size: 1rem;
        margin-top: 180%;
        padding: 7% 7%;
        border-radius: 2px;
    }
    .label2 {
        right: 0%;
        width: 25%;
        height: 100%;
    }
    .label2 h3 {
        top: 35%;
        right: 0;
        font-size: 1.4rem;
    }
    .label2 h4 {
        display: none;
    }
    .label3 {
        right: 0%;
        width: 25%;
        height: 100%;
    }
    .label3 h3 {
        top: 110%;
        font-size: 1.3rem;
    }
    .label3 h4 {
        display: none;
    }
    /* contactについて */
    .container_contact h2 {
        font-size: 2.5rem;
    }
    .container_contact h3 {
        font-size: 1.4rem;
        padding: 20px 12px;
        width: 60%;
        top: 60px;
        left: 16%;
        font-weight: normal;
    }
    .container_contact p br {
        display: none;
    }
    .container_contact p {
        width: 70%;
        margin: 0 auto;
        font-size: 1.4rem;
        text-align: justify;
        padding-bottom: 30px;
        padding-top: 150px;
    }
    .logo_detail p {
        font-size: 1.6rem;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 0;
    }
    .footer_nav h2 {
        font-size: 1.5rem;
        font-weight: lighter;
        padding-bottom: 5px;
        padding-top: 430px;
    }
}
