@charset "utf-8";
/* リセット */
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
}
header {
    margin: 0;
    padding: 0;
}
footer {
    background: #e1e1e1;
}
main,
section,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #0f0f0f;
    font-family: "游ゴシック体", "游ゴシック", "Yu Gothic", "sans-serif",
        "A1 Mincho", "游明朝", "Yu Mincho", "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", "serif";
    font-feature-settings: "palt";
}
a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}
/* トップページ */
.top_page {
    max-width: 92%;
    margin: 0 auto;
    padding: 185px 0 200px 65%;
    background: #b4b4b4;
}
.header_container {
    margin: 0 auto;
    display: flex;
    justify-content: right;
    margin-right: 15%;
}
.header_container h1 {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    padding-bottom: 36px;
}
.header_container p {
    font-size: 1.5rem;
}
.service_menu {
    margin-left: 20%;
}
.service_menu h2 {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    padding-bottom: 36px;
}
.contents li {
    padding-bottom: 15px;
    font-weight: lighter;
    font-size: 1.5rem;
}
.header_nav {
    position: fixed;
    top: 62px;
    left: 0;
    text-align: center;
}
.header_nav h2 {
    display: none;
}
.header_nav img {
    padding-bottom: 139px;
    width: 35%;
}
.menu li {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 33px;
    color: #0f0f0f;
}
.sp_nav {
    display: none;
}
/* メインの制作実績 */
.work_wrap {
    text-align: center;
}
.work_wrap h2 {
    font-size: 4.5rem;
    padding-top: 200px;
    padding-bottom: 10px;
}
.work_wrap p {
    padding-bottom: 85px;
}
/* 実績写真 */
.main {
    margin: 0 auto;
    max-width: 1600px;
}
.photo_area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.photo {
    position: relative;
    width: 30%;
    margin: 45px 1%;
}
.photo img {
    height: 100%;
}
.photo_detail {
    display: flex;
    justify-content: space-between;
}
.photo_detail h2 {
    font-size: 1.8rem;
    font-weight: lighter;
    padding-top: 10px;
}
.photo_detail h3 {
    font-size: 1.8rem;
    font-weight: lighter;
    padding-top: 10px;
}
.photo_detail p {
    font-size: 1.8rem;
    transform-origin: top right;
    transform: rotate(90deg) translateX(-100%);
    position: absolute;
    right: -5%;
    top: 30%;
}
/* footer */
.footer_container {
    margin-top: 300px;
    position: relative;
}
.side_menu {
    margin-left: 2%;
    position: absolute;
    top: 90px;
    left: 0;
}
.footer_logo img {
    width: 30%;
    padding-left: 13%;
}
.sns {
    padding-left: 6.5%;
    padding-top: 96px;
}
.follow_me {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.follow_me li {
    padding-left: 10%;
}
.footer_nav {
    margin-left: 5%;
}
.gr_menu {
    width: 30%;
    margin: 0 auto;
    padding: 65px 10px 90px;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: lighter;
}
.gr_menu li {
    font-weight: bold;
}
.footer_nav {
    margin: 0 auto;
}
.footer_nav h2 {
    font-size: 4.5rem;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 14px;
}
.footer_nav h3 {
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.2rem;
}
.sns_sp {
    display: none;
}
.footer_nav p {
    padding-top: 90px;
    padding-bottom: 10px;
    text-align: center;
}
/* レスポンシブ_1024px */
@media screen and (max-width: 1024px) {
    /* ヘッダーロゴ */
    /* 実績写真 */
    .photo_detail p {
        font-size: 1.4rem;
        transform-origin: top right;
        transform: rotate(90deg) translateX(-100%);
        position: absolute;
        right: -5%;
        top: 35%;
    }
}
/* レスポンシブ_767px */
@media screen and (max-width: 767px) {
    /* トップページ */
    .header_nav h2 {
        position: fixed;
        display: flex;
        top: 4%;
        left: 5%;
        letter-spacing: 0.15rem;
    }
    .header_nav img {
        display: none;
    }
    .menu {
        display: none;
    }
    /* spのメニュー */
    .sp_menu_btn {
        display: block;
        position: fixed;
        top: 35px;
        right: 30px;
        height: 30px;
        cursor: pointer;
    }
    .sp_menu_btn span {
        background: #0f0f0f;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        top: 17px;
        transition: 0.3s;
    }
    .sp_menu_btn span::before,
    .sp_menu_btn span::after {
        content: "";
        width: 33px;
        height: 3px;
        display: block;
        background: #0f0f0f;
        position: absolute;
        transition: 0.3s;
    }
    .sp_menu_btn span::before {
        bottom: 10px;
    }
    .sp_menu_btn span::after {
        top: 10px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        transform: rotate(225deg);
        bottom: 0px;
    }
    .open span::after {
        transform: rotate(315deg);
        top: 0px;
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: rgba(000, 000, 000, 0.8);
        width: 100%;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .sp_nav li {
        color: #fff;
        text-align: center;
        font-size: 2.4rem;
        padding: 20px 0;
    }
    /* main_実績写真 */
    .photo {
        position: relative;
        width: 80%;
        margin: 45px 1%;
    }
    .photo_detail p {
        font-size: 1.4rem;
        right: -3%;
        top: 20%;
    }
    /* footer_フッター */
    .footer_container {
        margin-top: 300px;
        position: relative;
    }
    .side_menu {
        display: none;
    }
    .footer_nav {
        text-align: center;
    }
    .gr_menu {
        width: 60%;
    }
    .gr_menu li {
        font-weight: bold;
    }
    .footer_nav {
        width: 100%;
        text-align: center;
    }
    .footer_nav h2 {
        font-size: 4.5rem;
        font-weight: lighter;
        padding-bottom: 10px;
    }
    .footer_nav h3 {
        text-align: center;
        font-weight: lighter;
        letter-spacing: 0.2rem;
    }
    .sns_sp {
        display: block;
        text-align: center;
    }
    .follow_me_sp {
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }
    .follow_me_sp img {
        width: 40%;
    }
    .gr_menu {
        display: none;
    }
    .footer_nav h2 {
        padding-top: 150px;
        font-size: 2.5rem;
    }
    .footer_nav p {
        padding-bottom: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 375px) {
    .top_page {
        background: #fff;
    }
    .header_nav {
        width: 100%;
    }
    .header_nav {
        z-index: 5;
    }
    .sp_menu_btn {
        z-index: 5;
    }
    .header_nav h2 {
        top: 7%;
    }
    .header_nav img {
        display: flex;
        margin: 150px auto;
        display: none;
    }
    .header_container {
        display: none;
    }
    .work_wrap h2 {
        font-size: 2.5rem;
        padding-bottom: 5px;
    }
    .work_wrap p {
        font-size: 1.4rem;
        padding-bottom: 65px;
    }
    .photo img {
        z-index: 50;
    }
    .photo {
        position: relative;
        width: 80%;
        margin: 20px 1%;
    }
    .photo_detail p {
        font-size: 1.4rem;
        right: -6%;
        top: 35%;
    }
    .photo_detail h2 {
        font-size: 1.3rem;
    }
    .photo_detail h3 {
        font-size: 1.3rem;
    }
    .photo_detail p {
        font-size: 1.3rem;
    }
    .footer_container {
        margin-top: 150px;
        position: relative;
    }
    .side_menu {
        display: none;
    }
    .gr_menu {
        display: none;
    }
    .footer_nav h2 {
        font-size: 1.5rem;
        font-weight: lighter;
        padding-bottom: 5px;
        padding-top: 450px;
    }
}
